@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@400;600&display=swap');


body {
    margin: 0;
    padding: 0;
    padding-top: 100px;
}

html{
    scroll-behavior: smooth;
}
header {
    font-family: 'Inter', sans-serif; /* Применение шрифта Inter к хедеру */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B58F5E;
    padding: 0px 90px;
    position: fixed; /* Фиксируем хедер */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Чтобы был поверх других элементов */
}

.logo img {
    height: 100px; /* Подгонка по высоте логотипа */
}

nav {
    flex-grow: 1;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav .nav-link {
    text-decoration: none;
    font-size: 22px;
    color: white;
    padding: 8px 16px;
    border-radius: 30px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Стиль для активной ссылки */
nav .nav-link.active {
    background-color: #192941;
    color: white;
}

/* Стиль для ховера */
nav .nav-link:hover {
    background-color: #192941;
    color: white;
}

.contact-btn {
    font-size: 22px;
    color: white;
    background-color: transparent;
    padding: 8px 16px;
    border-radius: 30px;
    border: 2px solid white;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-left: -120px; /* Создаем отступ от навигационного меню */
    margin-right: 190px; /* Убираем отступ справа, чтобы кнопка не уходила за пределы */
}

/* Стиль при наведении */
.contact-btn:hover {
    background-color: #192941;
    color: white;
    border: 2px solid #192941;
}
/* Планшеты и небольшие ноутбуки */
@media (max-width: 1300px) {
    body{
        padding-top: 60px;
    }
    .logo img {
        height: 70px;
    }

    nav .nav-link {
        font-size: 17px;
        padding: 6px 12px;
    }

    .contact-btn {
        font-size: 18px;
        padding: 6px 12px;
    }
}

/* Ещё меньше: планшеты и маленькие ноуты типа MacBook Air */
@media (max-width: 1080px) and (min-width: 900px)  {
    body{
        padding-top: 50px;
    }
    .logo img {
        height: 55px;
    }

    nav .nav-link {
        font-size: 13px;
        padding: 5px 8px;
    }
    nav ul li {
        margin: 0 5px;
    }

    .contact-btn {
        font-size: 14px;
        padding: 5px 10px;
    }
}
@media (max-width: 900px) and (min-width: 770px)  {
    body{
        padding-top: 40px;
    }
    .logo img {
        height: 45px;
    }
    nav{
        margin-left: -90px;
    }
    nav .nav-link {
        font-size: 13px;
        padding: 5px 8px;
    }
    nav ul li {
        margin: 0 3px;
    }

    .contact-btn {
        font-size: 12px;
        padding: 5px 8px;
    }
}

/* Мобильные устройства */
@media (max-width: 768px) {
    body {
        padding-top: 80px; /* Для мобильных */
    }
    header {
        padding: 10px 20px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .logo img {
        height: 60px;
    }

    /* Скрываем меню на мобильных */
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #B58F5E;
        padding: 20px 0;
        text-align: center;
    }

    /* Отображаем меню при открытии */
    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav .nav-link {
        font-size: 16px;
        padding: 6px 10px;
    }

    .contact-btn {
        font-size: 18px;
        /*padding: 6px 10px;*/
        margin-right: 50px;

    }

    /* Бургер-меню */
    .burger-menu {
        display: block;
        cursor: pointer;
    }

    .burger-menu div {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
        transition: all 0.3s ease;
    }
}

/* Полностью скрываем бургер на больших экранах */
@media (min-width: 769px) {
    .burger-menu {
        display: none;
    }
}

.employee-detail-section {
    padding: 50px;
    background-color: #192941;
    display: flex;
    justify-content: center;
    position: relative;
}

.back-arrow {
    position: fixed;
    top: 180px;
    left: 120px;
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: transparent;
    transition: color 0.3s ease;
}

.back-arrow i {
    margin-right: 10px;
    transition: color 0.3s ease;
}

.back-arrow:hover i {
    color: #B58F5E; /* Цвет при ховере */
}
.employee-detail-container {
    display: flex;
    max-width: 1200px;
    width: 80%;
    color: white;
    min-height: 500px;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.employee-left {
    flex: 1 1 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.employee-name {
    font-size: 28px;
    font-family: 'Cormorant Infant', serif;
    text-align: center;
    margin-bottom: 20px;
}

.photo-container {
    background-color: #D2B48C; /* Бежевый контейнер */
    padding: 15px;
    border-radius: 25px;
}

.photo-container img {
    width: 100%;
    max-width: 250px;
    border-radius: 25px;
    background-color: white; /* Белый контейнер внутри */
    padding: 10px;
}

.employee-right {
    flex: 1 1 500px;
    padding-left: 60px;
    font-family: 'Cormorant Infant', serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.employee-right h3 {
    font-size: 34px;
    margin-bottom: 15px;
}

.employee-right p {
    font-size: 24px;
    margin-bottom: 10px;
}
/* Планшеты */
@media (max-width: 992px) {
    .employee-detail-container {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .employee-left, .employee-right {
        width: 100%;
        padding: 0;
    }

    .employee-right {
        margin-top: 30px;
        padding-left: 0;
        text-align: center;
    }

    .employee-right h3 {
        font-size: 28px;
    }

    .employee-right p {
        font-size: 20px;
    }

    .back-arrow {
        top: 140px;
        left: 30px;
        font-size: 26px;
    }
}

/* Мобильные устройства */
@media (max-width: 600px) {
    .employee-detail-section {
        padding: 30px 20px;
    }

    .employee-name {
        font-size: 24px;
    }

    .photo-container img {
        max-width: 200px;
        padding: 8px;
    }

    .employee-right h3 {
        font-size: 24px;
    }

    .employee-right p {
        font-size: 18px;
    }

    .back-arrow {
        top: 120px;
        left: 20px;
        font-size: 24px;
    }
}


.footer {
    background-color: #B58F5E; /* Цвет фона футера */
    padding: 0px; /* Отступы сверху и снизу */
    display: flex;
    justify-content: center; /* Центрируем содержимое футера */
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px; /* Можно ограничить максимальную ширину футера */
}

.footer-left, .footer-right {
    flex: 1;
    text-align: center; /* Центрируем текст внутри этих блоков */
    color: white; /* Белый цвет текста */
    display: flex;
    flex-direction: column;
    gap: 8px; /* Отступ между элементами */
}

.phone, .email, .address {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center; /* Выравнивание иконки и текста */
    font-size: 18px;
}

.phone i, .email i, .address i {
    margin-right: 8px; /* Отступ между иконкой и текстом */
    font-size: 24px; /* Размер иконки */
    color: white; /* Белый цвет */
    transition: color 0.3s ease; /* Плавное изменение цвета */
}

.footer-center {
    flex: 2;
    text-align: center;
}

.footer img {
    width: 250px; /* Размер логотипа */
    height: auto;
}
@media (max-width: 1200px) {
    .footer-content {
        flex-direction: row; /* Сохраняем горизонтальное расположение */
        text-align: center; /* Центрируем элементы */
    }

    .footer-left, .footer-right {
        /*flex: 1; /* Равномерное распределение */
        margin-bottom: 10px; /* Отступ снизу */
        margin-top: 10px;
    }

    .phone, .email, .address {
        font-size: 16px; /* Еще больше уменьшаем размер шрифта */
    }

    .phone i, .email i, .address i {
        font-size: 20px; /* Еще меньше иконки */
    }

    .footer img {
        width: 150px; /* Уменьшаем размер логотипа */
    }
}
@media (max-width: 876px) {
    .footer-content {
        flex-direction: row; /* Сохраняем горизонтальное расположение */
        text-align: center; /* Центрируем элементы */
    }

    .footer-left, .footer-right {
        /*flex: 1; /* Равномерное распределение */
        margin-bottom: 10px; /* Отступ снизу */
        margin-top: 10px;
    }

    .phone, .email, .address {
        font-size: 12px; /* Еще больше уменьшаем размер шрифта */
    }

    .phone i, .email i, .address i {
        font-size: 15px; /* Еще меньше иконки */
    }

    .footer img {
        width: 100px; /* Уменьшаем размер логотипа */
    }
}

@media (max-width: 576px) {
    .footer-content {
        flex-direction: row; /* Сохраняем горизонтальное расположение */
        text-align: center; /* Центрируем элементы */
    }

    .footer-left, .footer-right {
        /*flex: 1; /* Равномерное распределение */
        margin-bottom: 10px; /* Отступ снизу */
        margin-top: 10px;
    }

    .phone, .email, .address {
        font-size: 9px; /* Еще больше уменьшаем размер шрифта */
    }

    .phone i, .email i, .address i {
        font-size: 13px; /* Еще меньше иконки */
    }

    .footer img {
        width: 90px; /* Уменьшаем размер логотипа */
    }
}
/* Затемнение фона при открытии модалки */
body.modal-open {
    overflow: hidden;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    z-index: 9999; /* Устанавливаем высокий z-index, чтобы окно было поверх всех элементов */
}

.modal-content {
    background: #B58F5E;
    width: 500px;
    height: 410px;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    position: relative;
    font-family: 'Cormorant Infant', serif; /* Устанавливаем шрифт */
}

.modal-title {
    font-size: 30px;
    color: white;
    margin-bottom: 40px;
}

input, select {
    width: 90%;
    color: #666666;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 30px;
    border: none;
    border-radius: 10px;
    font-family: 'Cormorant Infant', serif; /* Устанавливаем шрифт */
}

select{
    width: 94%;
}

.submit-btn {
    background: #192941;
    color: white;
    padding: 8px;
    font-size: 22px;
    border: none;
    width: 50%;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Cormorant Infant', serif; /* Устанавливаем шрифт */
    margin-top: 20px;
}

.submit-btn:hover {
    background: #0c131f;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

/* Показываем модальное окно */
.modal.show {
    visibility: visible;
    opacity: 1;
}
/* Адаптация для планшетов и мобильных устройств */
@media (max-width: 768px) {
    .modal-content {
        width: 80%;
        height: auto; /* Автоматическая высота для адаптации */
        padding: 15px;
    }

    .modal-title {
        font-size: 24px;
        margin-bottom: 30px;
    }

    input, select {
        font-size: 18px;
        padding: 8px;
    }

    .submit-btn {
        font-size: 20px;
        width: 60%;
        margin-bottom: 10px;
    }

    .close-btn {
        font-size: 28px;
    }
}

@media (max-width: 576px) {
    .modal-content {
        width: 90%;
        padding: 10px;
    }

    .modal-title {
        font-size: 20px;
        margin-bottom: 25px;
    }

    input, select {
        font-size: 16px;
        padding: 6px;
    }

    .submit-btn {
        font-size: 18px;
        width: 70%;
        margin-bottom: 10px;
    }

    .close-btn {
        font-size: 26px;
    }
}